{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Chica Guapa</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur fugiat, quas temporibus blanditiis
            saepe nemo distinctio placeat aut explicabo maiores ex doloribus, quisquam odio vero, illum non nostrum!
            Repellat, qui.</p>
    </div>
    <div class="col-4">
        <img src="assets/img/chica.jpg" class="img-thumbnail">
    </div>
</div>

{{> footer }}